.area-dota2 {
    width: 100%;
    height: 727px;
}

.area-dota2 .temp-wrap {
    margin: 0 auto;
    width: 1190px;
    height: 727px;
    // background-color: red;
}

.area-dota2 .temp-wrap .dota2-title {
    width: 1190px;
    height: 40px;
}

.area-dota2 .temp-wrap .f-left {
    float: left;
}

.area-dota2 .temp-wrap .more {
    float: right;
}