    $t:top;
    $b:bottom;
    $l:left;
    $r:right;
    @mixin w($width) {
        width: $width;
    }
    
    @mixin h($height) {
        height: $height;
    }
    
    .header {
        @include h(33px);
        background-color: #474747;
        color: #CCC;
        .wrap {
            @include w(1190px);
            margin: 0 auto;
            .welcome {
                margin-#{$t}: 7px;
                float: $l;
            }
            .header-cart {
                @include w(138px);
                position: relative;
                float: $r;
                z-index: 2;
                .text {
                    @include h(33px);
                    line-height: 33px;
                    background-color: #1e1e1e;
                    text-align: center;
                    cursor: pointer;
                    display: block;
                    span {
                        color: #db313e;
                        font-weight: bold;
                        font-family: Arial
                    }
                    .icon {
                        display: inline-block;
                        margin-#{$r}: 8px;
                        @include w(20px);
                        @include h(14px);
                        overflow: hidden;
                        background: url(../img/base.png) no-repeat -164px -20px;
                        vertical-align: -2px
                    }
                }
            }
            dl {
                margin: 11px 35px 0 0;
                float: $r;
                a {
                    display: inline-block;
                    color: #CCC;
                    &:hover {
                        color: #FFF;
                    }
                }
            }
        }
        dt,
        dd {
            float: $l;
            padding: 0 7px;
            @include h(11px);
            line-height: 11px
        }
        dd {
            border-#{$l}: 1px solid #666
        }
    }