@import "pagination";
* {
    margin: 0;
    padding: 0;
    list-style: none;
}

html,
body {
    color: #474747;
    font-size: 12px;
    background-color: #f5f5f5;
    font-family: "Microsoft YaHei",
}

body {
    background-color: #f5f5f5;
    color: #474747;
}

a {
    text-decoration: none;
}

//toubu
$t:top;
$b:bottom;
$l:left;
$r:right;
@mixin w($width) {
    width: $width;
}

@mixin h($height) {
    height: $height;
}

.header {
    @include h(33px);
    background-color: #474747;
    color: #CCC;
    .wrap {
        @include w(1190px);
        margin: 0 auto;
        .welcome {
            margin-#{$t}: 7px;
            float: $l;
        }
        .header-cart {
            @include w(138px);
            position: relative;
            float: $r;
            z-index: 2;
            .text {
                @include h(33px);
                line-height: 33px;
                background-color: #1e1e1e;
                text-align: center;
                cursor: pointer;
                display: block;
                span {
                    color: #db313e;
                    font-weight: bold;
                    font-family: Arial
                }
                .icon {
                    display: inline-block;
                    margin-#{$r}: 8px;
                    @include w(20px);
                    @include h(14px);
                    overflow: hidden;
                    background: url(../img/base.png) no-repeat -164px -20px;
                    vertical-align: -2px
                }
            }
        }
        dl {
            margin: 11px 35px 0 0;
            float: $r;
            a {
                display: inline-block;
                color: #CCC;
                &:hover {
                    color: #FFF;
                }
            }
        }
    }
    dt,
    dd {
        float: $l;
        padding: 0 7px;
        @include h(11px);
        line-height: 11px
    }
    dd {
        border-#{$l}: 1px solid #666
    }
}

//nav
.top_nav {
    width: 100%;
    @include h(101px);
    background-color: #FFF;
    border-#{b}: 3px solid #de2f3c;
    box-shadow: 0 3px 3px #CCC;
    .wrap {
        @include w(1190px);
        margin: 0 auto;
    }
    a {
        text-decoration: none;
        color: #666;
        &:hover {
            text-decoration: none;
            color: #e90404
        }
    }
    a.on {
        text-decoration: none;
        color: #e90404
    }
    .f_left {
        float: $l;
    }
    .f_right {
        float: $r;
    }
    .logo {
        display: block
    }
    .logo_wm {
        @include w(183px);
        text-align: center;
        @include h(72px);
        padding-#{$t}: 29px;
        background-color: #c20315;
        margin-#{b}: -3px
    }
    .logo_shop {
        margin: 37px 0 0 34px
    }
    .all_wares {
        position: relative;
        @include w(175px);
        margin-#{$l}: 50px;
        text-indent: 19px;
        z-index: 1;
        .text {
            @include h(101px);
            line-height: 101px;
            font-size: 15px;
            cursor: pointer;
            span {
                display: inline-block;
                @include w(15px);
                @include h(13px);
                margin-#{$r}: 7px;
                background: url(../img/base.png) no-repeat -24px 0;
                vertical-align: -1px
            }
        }
        ul {
            position: absolute;
            #{$t}: 101px;
            #{$l}: 0;
            padding-#{$b}: 10px;
            display: none;
            @include w(100%);
            font-size: 14px;
            background-color: #FFF;
            box-shadow: 0 2px 3px #CCC
        }
        li {
            position: relative;
            a {
                display: block;
                @include w(155px);
                padding-#{$r}: 20px;
                @include h(40px);
                line-height: 40px;
                background-color: #FFF;
                color: #474747;
                position: relative;
                em {
                    position: absolute;
                    #{$t}: 15px;
                    #{$r}: 10px;
                    @include w(6px);
                    @include h(10px);
                    overflow: hidden;
                    background: url(../img/base.png) no-repeat -54px 0
                }
                &:hover {
                    background-color: #f5f5f5;
                    color: #e90404
                }
                &:hover em {
                    background-position: -60px 0
                }
            }
            &:hover dl {
                display: block;
            }
        }
        &:hover ul {
            display: block;
        }
        dl {
            position: absolute;
            #{$t}: 0;
            #{$l}: 175px;
            display: none
        }
    }
    .nav {
        margin-#{$t}: 40px;
        li {
            float: $l;
            padding: 0 15px;
            font-size: 15px;
            a {
                color: #474747;
                &:hover {
                    color: #e90404
                }
            }
        }
    }
    .header_search {
        position: relative;
        @include w(320px);
        @include h(41px);
        margin-#{$t}: 30px;
        z-index: 1;
        .text {
            float: $l;
            @include w(262px);
            @include h(30px);
            line-height: 39px;
            padding: 5px 5px;
            border-radius: 1%;
            border: 1px solid #CCC;
            border-#{$r}: 0;
            margin: 0;
        }
        .btn {
            float: $r;
            @include w(46px);
            @include h(41px);
            border: 0;
            background: #e32332 url(http://static.wanmei.com/shop/images/search.png) no-repeat center;
            cursor: pointer;
            margin: 0;
            &:hover {
                background-color: #C00
            }
        }
        .keyword {
            position: absolute;
            #{$t}: 1px;
            #{$r}: 56px;
            height: 30px;
            padding-#{$t}: 9px;
            display: block;
            a {
                display: inline-block;
                padding: 3px 5px;
                background-color: #EEE
            }
        }
    }
}

//smallnav
.nav_bar {
    height: 44px;
    line-height: 44px;
    background-color: #f5f5f5;
    color: #666;
}

.nav_bar .wrap {
    width: 1190px;
    margin: 0 auto;
    padding: 0;
}

.nav_bar a {
    padding-right: 3px;
    &:hover {
        color: #C00;
    }
}

a {
    text-decoration: none;
    color: #666;
}

// goods_detail
.goods_detail {
    padding: 30px 0 40px 0;
    background-color: #FFF;
}

.goods_detail .wrap {
    width: 1190px;
    height: 591px;
    margin: 0 auto;
}

.goods_detail .wrap .gallery {
    float: left;
}

.goods_detail .wrap .gallery .picFocus {
    width: 430px;
    position: relative;
    overflow: hidden;
    margin-right: 59px;
}

.picFocus .bd .tempWrap {
    overflow: hidden;
    position: relative;
    width: 430px;
}

.picFocus .bd ul {
    width: 1720px;
    left: 0px;
    position: relative;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}

.picFocus .bd ul li {
    float: left;
    width: 430px;
}

.picFocus .bd li:first-child {
    display: block;
}

.picFocus .bd img {
    width: 430px;
    height: 430px;
    display: block;
}

.picFocus .hd {
    position: static;
    width: 100%;
    padding-top: 10px;
    overflow: hidden;
}

.picFocus .hd ul {
    margin-right: -10px;
    overflow: hidden;
    zoom: 1;
    .select {
        opacity: 1;
    }
}

.picFocus .hd ul li {
    width: 110px;
    height: 103px;
    float: left;
    opacity: .4;
}

.picFocus .hd ul li img {
    width: 100px;
    height: 100px;
}

.goods_detail .wrap .property {
    width: 684px;
    font-size: 14px;
    float: left;
}

.property .title h1 {
    padding-bottom: 20px;
    font-size: 30px;
    color: #474747;
    font-weight: normal;
}

.property .title p {
    font-size: 16px;
    color: #666;
}

.property #productShowPrice {
    padding: 20px 0;
    margin: 34px 0 25px 0;
    font-size: 26px;
    color: #e90404;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
}

.property .price span {
    font-size: 26px;
    color: #e90404;
}

.property th {
    height: 48px;
    text-align: left;
    font-weight: normal;
    color: #9a9a9a;
    width: 72px;
}

.property .meta .from {
    padding-right: 5px;
}

.property .meta .to {
    padding: 5px 10px;
    margin-left: 5px;
    cursor: pointer;
    border: 1px solid #FFF;
}

.property .meta .to i {
    display: inline-block;
    width: 12px;
    height: 6px;
    margin-left: 5px;
    overflow: hidden;
    background: url(../img/base.png) no-repeat 0 0;
    vertical-align: middle;
}

.property .amount {
    display: inline-block;
    width: 78px;
    height: 22px;
    margin-right: 11px;
    border: 1px solid #e0e0e0;
    vertical-align: middle;
}

.property .amount span {
    display: inline-block;
    width: 23px;
    height: 22px;
    vertical-align: middle;
    cursor: pointer;
}

.property .amount .reduce {
    background: url(../img/base.png) no-repeat -234px -97px;
}

.property .amount input {
    width: 70px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border: 0;
    vertical-align: middle;
    font-size: 12px;
}

.amount .plus {
    background: url(../img/base.png) no-repeat -233px -132px;
}

.property .stock {
    color: #999;
}

font {
    font-style: normal;
}

.property .sold {
    padding-left: 15px;
    color: #999;
}

.property .sold font {
    padding: 0 5px;
    color: #C00;
}

.property .btns {
    padding: 20px 0 53px;
}

.property .btns .buy {
    background-color: #e32332;
    color: #FFF;
}

.property .btns a {
    display: inline-block;
    width: 260px;
    height: 66px;
    line-height: 66px;
    margin-right: 16px;
    text-align: center;
    font-size: 24px;
}

.property .btns .add {
    width: 258px;
    height: 64px;
    line-height: 64px;
    border: 1px solid #e32330;
    color: #ea0406;
}

.property .btns a span {
    display: inline-block;
    background: url(../img/base.png) no-repeat;
    background-position-x: 0%;
    background-position-y: 0%;
    margin-right: 10px;
    vertical-align: -3px;
}