@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.pagelist {
  clear: both;
  width: 1170px;
  margin: 0 auto;
  text-align: right;
  padding-right: 20px;
}

.m-style {
  float: right;
  text-align: center;
}

.m-style:before,
.m-style:after {
  content: "";
  display: table;
}

.m-style:after {
  clear: both;
  overflow: hidden;
}

.m-style span {
  float: left;
  margin: 0 5px;
  width: 38px;
  height: 38px;
  line-height: 38px;
  color: #bdbdbd;
  font-size: 14px;
}

.m-style .active {
  float: left;
  margin: 0 5px;
  width: 38px;
  height: 38px;
  line-height: 38px;
  background: #e91e63;
  color: #fff;
  font-size: 14px;
  border: 1px solid #e91e63;
}

.m-style a {
  float: left;
  margin: 0 5px;
  width: 38px;
  height: 38px;
  line-height: 38px;
  background: #fff;
  border: 1px solid #ebebeb;
  color: #bdbdbd;
  font-size: 14px;
}

.m-style a:hover {
  color: #fff;
  background: #e91e63;
}

.m-style .next,
.m-style .prev {
  font-family: "Simsun";
  font-size: 16px;
  font-weight: bold;
  width: 80px;
}

.now,
.count {
  padding: 0 5px;
  color: #f00;
}

.eg img {
  max-width: 800px;
  min-height: 500px;
}

input {
  float: left;
  margin: 0 5px;
  width: 38px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  background: #fff;
  border: 1px solid #ebebeb;
  outline: none;
  color: #bdbdbd;
  font-size: 14px;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

html,
body {
  color: #474747;
  font-size: 12px;
  background-color: #f5f5f5;
  font-family: "Microsoft YaHei";
}

body {
  background-color: #f5f5f5;
  color: #474747;
}

a {
  text-decoration: none;
}

.header {
  height: 33px;
  background-color: #474747;
  color: #CCC;
}
.header .wrap {
  width: 1190px;
  margin: 0 auto;
}
.header .wrap .welcome {
  margin-top: 7px;
  float: left;
}
.header .wrap .header-cart {
  width: 138px;
  position: relative;
  float: right;
  z-index: 2;
}
.header .wrap .header-cart .text {
  height: 33px;
  line-height: 33px;
  background-color: #1e1e1e;
  text-align: center;
  cursor: pointer;
  display: block;
}
.header .wrap .header-cart .text span {
  color: #db313e;
  font-weight: bold;
  font-family: Arial;
}
.header .wrap .header-cart .text .icon {
  display: inline-block;
  margin-right: 8px;
  width: 20px;
  height: 14px;
  overflow: hidden;
  background: url(../img/base.png) no-repeat -164px -20px;
  vertical-align: -2px;
}
.header .wrap dl {
  margin: 11px 35px 0 0;
  float: right;
}
.header .wrap dl a {
  display: inline-block;
  color: #CCC;
}
.header .wrap dl a:hover {
  color: #FFF;
}
.header dt,
.header dd {
  float: left;
  padding: 0 7px;
  height: 11px;
  line-height: 11px;
}
.header dd {
  border-left: 1px solid #666;
}

.top_nav {
  width: 100%;
  height: 101px;
  background-color: #FFF;
  border-b: 3px solid #de2f3c;
  box-shadow: 0 3px 3px #CCC;
}
.top_nav .wrap {
  width: 1190px;
  margin: 0 auto;
}
.top_nav a {
  text-decoration: none;
  color: #666;
}
.top_nav a:hover {
  text-decoration: none;
  color: #e90404;
}
.top_nav a.on {
  text-decoration: none;
  color: #e90404;
}
.top_nav .f_left {
  float: left;
}
.top_nav .f_right {
  float: right;
}
.top_nav .logo {
  display: block;
}
.top_nav .logo_wm {
  width: 183px;
  text-align: center;
  height: 72px;
  padding-top: 29px;
  background-color: #c20315;
  margin-b: -3px;
}
.top_nav .logo_shop {
  margin: 37px 0 0 34px;
}
.top_nav .all_wares {
  position: relative;
  width: 175px;
  margin-left: 50px;
  text-indent: 19px;
  z-index: 1;
}
.top_nav .all_wares .text {
  height: 101px;
  line-height: 101px;
  font-size: 15px;
  cursor: pointer;
}
.top_nav .all_wares .text span {
  display: inline-block;
  width: 15px;
  height: 13px;
  margin-right: 7px;
  background: url(../img/base.png) no-repeat -24px 0;
  vertical-align: -1px;
}
.top_nav .all_wares ul {
  position: absolute;
  top: 101px;
  left: 0;
  padding-bottom: 10px;
  display: none;
  width: 100%;
  font-size: 14px;
  background-color: #FFF;
  box-shadow: 0 2px 3px #CCC;
}
.top_nav .all_wares li {
  position: relative;
}
.top_nav .all_wares li a {
  display: block;
  width: 155px;
  padding-right: 20px;
  height: 40px;
  line-height: 40px;
  background-color: #FFF;
  color: #474747;
  position: relative;
}
.top_nav .all_wares li a em {
  position: absolute;
  top: 15px;
  right: 10px;
  width: 6px;
  height: 10px;
  overflow: hidden;
  background: url(../img/base.png) no-repeat -54px 0;
}
.top_nav .all_wares li a:hover {
  background-color: #f5f5f5;
  color: #e90404;
}
.top_nav .all_wares li a:hover em {
  background-position: -60px 0;
}
.top_nav .all_wares li:hover dl {
  display: block;
}
.top_nav .all_wares:hover ul {
  display: block;
}
.top_nav .all_wares dl {
  position: absolute;
  top: 0;
  left: 175px;
  display: none;
}
.top_nav .nav {
  margin-top: 40px;
}
.top_nav .nav li {
  float: left;
  padding: 0 15px;
  font-size: 15px;
}
.top_nav .nav li a {
  color: #474747;
}
.top_nav .nav li a:hover {
  color: #e90404;
}
.top_nav .header_search {
  position: relative;
  width: 320px;
  height: 41px;
  margin-top: 30px;
  z-index: 1;
}
.top_nav .header_search .text {
  float: left;
  width: 262px;
  height: 30px;
  line-height: 39px;
  padding: 5px 5px;
  border-radius: 1%;
  border: 1px solid #CCC;
  border-right: 0;
  margin: 0;
}
.top_nav .header_search .btn {
  float: right;
  width: 46px;
  height: 41px;
  border: 0;
  background: #e32332 url(http://static.wanmei.com/shop/images/search.png) no-repeat center;
  cursor: pointer;
  margin: 0;
}
.top_nav .header_search .btn:hover {
  background-color: #C00;
}
.top_nav .header_search .keyword {
  position: absolute;
  top: 1px;
  right: 56px;
  height: 30px;
  padding-top: 9px;
  display: block;
}
.top_nav .header_search .keyword a {
  display: inline-block;
  padding: 3px 5px;
  background-color: #EEE;
}

.nav_bar {
  height: 44px;
  line-height: 44px;
  background-color: #f5f5f5;
  color: #666;
}

.nav_bar .wrap {
  width: 1190px;
  margin: 0 auto;
  padding: 0;
}

.nav_bar a {
  padding-right: 3px;
}
.nav_bar a:hover {
  color: #C00;
}

a {
  text-decoration: none;
  color: #666;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

html,
body {
  width: 100%;
  height: 100%;
  color: #3C3C3C;
  background: #fff;
  font: 12px/1.5 tahoma, arial, "Hiragino Sans GB", "瀹嬩綋", sans-serif;
}

body a {
  color: #6C6C6C;
}

input {
  border: 0;
}

.detail {
  z-index: 99999999;
  position: relative;
  margin: 10px auto 0;
  width: 1140px;
  height: 570px;
  color: #3C3C3C;
  border: 1px solid #E8E8E8;
}

.detail .left-p {
  float: left;
  padding: 20px 0 20px 20px;
  width: 400px;
  position: relative;
}

.detail .left-p .pic-wrap {
  margin-bottom: 18px;
  width: 400px;
  overflow: hidden;
}

.detail .left-p .pic-wrap a {
  float: left;
  width: 10px;
  height: 54px;
  border: 1px solid #ccc;
  text-decoration: none;
  line-height: 56px;
  text-align: center;
  background: #fff;
}

.detail .left-p .pic-wrap #left {
  position: absolute;
  left: 20px;
  bottom: 35px;
  z-index: 2;
  color: #fff;
}

.detail .left-p .pic-wrap #right {
  position: absolute;
  right: 0px;
  bottom: 35px;
  color: #333;
}

.detail .left-p .pic-wrap ul {
  float: left;
  margin-left: 30px;
}

.detail .left-p .pic-wrap .big-p {
  width: 400px;
  height: 400px;
  overflow: hidden;
  position: relative;
  margin-bottom: 15px;
  z-index: 1;
}

.detail .left-p .pic-wrap .big-p img {
  width: 100%;
  height: 100%;
}

.detail .left-p .pic-wrap .big-p #sf {
  width: 50px;
  height: 50px;
  background: orange;
  opacity: 0.3;
  position: absolute;
  left: 0px;
  top: 0px;
  visibility: hidden;
}

.detail .left-p .pic-wrap #bf {
  width: 398px;
  height: 398px;
  border: 1px solid #000;
  overflow: hidden;
  position: absolute;
  left: 423px;
  top: 20px;
  visibility: hidden;
  z-index: 10000;
}

.detail .left-p .pic-wrap #bf #bpic {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 800px;
  height: 800px;
}

.detail .left-p .pic-wrap .s-p li {
  float: left;
  margin-right: 9px;
  width: 50px;
  height: 50px;
  border: 2px solid #fff;
}

.detail .left-p .pic-wrap .s-p li img {
  width: 50px;
  height: 50px;
  vertical-align: middle;
}

.detail .right-con {
  float: left;
  padding: 0 20px 20px 0;
  width: 498px;
}

.detail .right-con .content {
  padding-left: 18px;
}

.detail .right-con .content .title {
  min-height: 21px;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  color: #3C3C3C;
  padding: 20px 0 10px;
}

.detail .right-con .content .price-wrap {
  height: 50px;
  padding: 10px;
  background-color: #FFF2E8;
}

.detail .right-con .content .price-wrap .j {
  margin-top: 10px;
  float: left;
  width: 60px;
  color: #6c6c6c;
}

.detail .right-con .content .price-out {
  margin-top: 5px;
  margin-bottom: -5px;
  float: left;
  overflow: visible;
  line-height: 26px;
}

.detail .right-con .content .p-style {
  position: static;
  float: left;
  padding: 0;
  margin-right: 5px;
  vertical-align: baseline;
  font-size: 26px;
  font-weight: 700;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  color: #F40;
}

.detail .right-con .content .p-style .dol {
  font-family: arial;
  font-weight: 400;
  margin-right: 4px;
}

.detail .right-con .content .p-style .price {
  font-family: verdana, arial;
  font-style: normal;
}

.detail .right-con .content .amount {
  margin: 10px 0;
  height: 30px;
}

.detail .right-con .content .amount .n {
  float: left;
  margin-right: 5px;
  width: 55px;
  color: #6C6C6C;
}

.detail .right-con .content .amount input {
  float: left;
  margin: 0;
  padding: 0;
  width: 48px;
  height: 26px;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #666;
  border: 1px solid #CCC;
  outline: 0;
  background: #FFF;
}

.detail .right-con .content .buyAndadd {
  margin-top: 40px;
  height: 60px;
}

.detail .right-con .content .buyAndadd .buy-btn {
  margin-right: 9px;
  float: left;
}

.detail .right-con .content .buyAndadd .buy-btn a {
  color: #E5511D;
  border-color: #F0CAB6;
  background: #FFE4D0;
}

.detail .right-con .content .buyAndadd .add-btn {
  float: left;
}

.detail .right-con .content .buyAndadd .add-btn a {
  width: 180px;
  color: #FFF;
  border-color: #F40;
  background: #F40;
}

.detail .right-con .content .buyAndadd a {
  display: block;
  cursor: pointer;
  width: 134px;
  height: 38px;
  text-align: center;
  font-family: "Hiragino Sans GB", "microsoft yahei", sans-serif;
  font-size: 16px;
  line-height: 38px;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
}

/*# sourceMappingURL=detail.css.map */
