.header {
  height: 33px;
  background-color: #474747;
  color: #CCC;
}
.header .wrap {
  width: 1190px;
  margin: 0 auto;
}
.header .wrap .welcome {
  margin-top: 7px;
  float: left;
}
.header .wrap .header-cart {
  width: 138px;
  position: relative;
  float: right;
  z-index: 2;
}
.header .wrap .header-cart .text {
  height: 33px;
  line-height: 33px;
  background-color: #1e1e1e;
  text-align: center;
  cursor: pointer;
  display: block;
}
.header .wrap .header-cart .text span {
  color: #db313e;
  font-weight: bold;
  font-family: Arial;
}
.header .wrap .header-cart .text .icon {
  display: inline-block;
  margin-right: 8px;
  width: 20px;
  height: 14px;
  overflow: hidden;
  background: url(../img/base.png) no-repeat -164px -20px;
  vertical-align: -2px;
}
.header .wrap dl {
  margin: 11px 35px 0 0;
  float: right;
}
.header .wrap dl a {
  display: inline-block;
  color: #CCC;
}
.header .wrap dl a:hover {
  color: #FFF;
}
.header dt,
.header dd {
  float: left;
  padding: 0 7px;
  height: 11px;
  line-height: 11px;
}
.header dd {
  border-left: 1px solid #666;
}

.rightfloor {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 35px;
  background-color: #0a0a0a;
  text-align: center;
  z-index: 2;
}
.rightfloor a {
  text-decoration: none;
  display: block;
  color: #FFF;
  transition: all .2s linear;
}
.rightfloor a:hover {
  background-color: #e32330;
}
.rightfloor a span {
  display: inline-block;
}
.rightfloor dl {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  margin-top: -140px;
}
.rightfloor dl dd {
  position: relative;
  padding-bottom: 6px;
}
.rightfloor .go_top {
  position: absolute;
  bottom: 50px;
  left: 0;
  width: 35px;
  height: 35px;
}
.rightfloor .go_top a span {
  width: 24px;
  height: 22px;
  margin-top: 6px;
  background: url(../img/base.png) no-repeat -228px -20px;
}
.rightfloor .center a,
.rightfloor .my_like a,
.rightfloor .online a,
.rightfloor .go_top a {
  height: 35px;
}

.rightfloor .center a span {
  width: 18px;
  height: 18px;
  margin-top: 8px;
  background: url(../img/base.png) no-repeat -228px -74px;
}

.rightfloor .my_like a span {
  width: 19px;
  height: 15px;
  margin-top: 11px;
  background: url(../img/base.png) no-repeat -228px -42px;
}

.rightfloor .right-cart a span {
  width: 22px;
  margin: 0 auto;
  padding: 13px 2px;
  font-size: 13px;
  border-top: 1px solid #323232;
  border-bottom: 1px solid #323232;
}
.rightfloor .right-cart a span i {
  display: inline-block;
  width: 22px;
  height: 18px;
  margin-bottom: 7px;
  background: url(../img/base.png) no-repeat -184px -56px;
}
.rightfloor .right-cart a span font {
  display: inline-block;
  width: 21px;
  height: 21px;
  margin-top: 8px;
  line-height: 21px;
  font-size: 11px;
  text-align: center;
  background-color: #df2f3a;
  border-radius: 11px;
}

.rightfloor .right-cart a:hover span {
  border-color: #e32330;
}
.rightfloor .right-cart a:hover span i {
  background-position: -184px -38px;
}
.rightfloor .right-cart a:hover span font {
  background-color: #0a0a0a;
}

.rightfloor .online a span {
  width: 18px;
  height: 16px;
  margin-top: 10px;
  background: url(../img/base.png) no-repeat -228px -57px;
}

.top_nav {
  height: 101px;
  background-color: #FFF;
  border-b: 3px solid #de2f3c;
  box-shadow: 0 3px 3px #CCC;
}
.top_nav .wrap {
  width: 1190px;
  margin: 0 auto;
}
.top_nav a {
  text-decoration: none;
  color: #666;
}
.top_nav a:hover {
  text-decoration: none;
  color: #e90404;
}
.top_nav a.on {
  text-decoration: none;
  color: #e90404;
}
.top_nav .f_left {
  float: left;
}
.top_nav .f_right {
  float: right;
}
.top_nav .logo {
  display: block;
}
.top_nav .logo_wm {
  width: 183px;
  text-align: center;
  height: 72px;
  padding-top: 29px;
  background-color: #c20315;
  margin-b: -3px;
}
.top_nav .logo_shop {
  margin: 37px 0 0 34px;
}
.top_nav .all_wares {
  position: relative;
  width: 175px;
  margin-left: 50px;
  text-indent: 19px;
  z-index: 1;
}
.top_nav .all_wares .text {
  height: 101px;
  line-height: 101px;
  font-size: 15px;
  cursor: pointer;
}
.top_nav .all_wares .text span {
  display: inline-block;
  width: 15px;
  height: 13px;
  margin-right: 7px;
  background: url(../img/base.png) no-repeat -24px 0;
  vertical-align: -1px;
}
.top_nav .all_wares ul {
  position: absolute;
  top: 101px;
  left: 0;
  padding-bottom: 10px;
  display: none;
  width: 100%;
  font-size: 14px;
  background-color: #FFF;
  box-shadow: 0 2px 3px #CCC;
}
.top_nav .all_wares li {
  position: relative;
}
.top_nav .all_wares li a {
  display: block;
  width: 155px;
  padding-right: 20px;
  height: 40px;
  line-height: 40px;
  background-color: #FFF;
  color: #474747;
  position: relative;
}
.top_nav .all_wares li a em {
  position: absolute;
  top: 15px;
  right: 10px;
  width: 6px;
  height: 10px;
  overflow: hidden;
  background: url(../img/base.png) no-repeat -54px 0;
}
.top_nav .all_wares li a:hover {
  background-color: #f5f5f5;
  color: #e90404;
}
.top_nav .all_wares li a:hover em {
  background-position: -60px 0;
}
.top_nav .all_wares li:hover dl {
  display: block;
}
.top_nav .all_wares:hover ul {
  display: block;
}
.top_nav .all_wares dl {
  position: absolute;
  top: 0;
  left: 175px;
  display: none;
}
.top_nav .nav {
  margin-top: 40px;
}
.top_nav .nav li {
  float: left;
  padding: 0 15px;
  font-size: 15px;
}
.top_nav .nav li a {
  color: #474747;
}
.top_nav .nav li a:hover {
  color: #e90404;
}
.top_nav .header_search {
  position: relative;
  width: 320px;
  height: 41px;
  margin-top: 30px;
  z-index: 1;
}
.top_nav .header_search .text {
  float: left;
  width: 263px;
  height: 39px;
  line-height: 39px;
  padding: 0 5px;
  border: 1px solid #CCC;
  border-right: 0;
}
.top_nav .header_search .btn {
  float: right;
  width: 46px;
  height: 41px;
  border: 0;
  background: #e32332 url(http://static.wanmei.com/shop/images/search.png) no-repeat center;
  cursor: pointer;
}
.top_nav .header_search .btn:hover {
  background-color: #C00;
}
.top_nav .header_search .keyword {
  position: absolute;
  top: 1px;
  right: 56px;
  height: 30px;
  padding-top: 9px;
}
.top_nav .header_search .keyword a {
  display: inline-block;
  padding: 3px 5px;
  background-color: #EEE;
}
.top_nav .header_search .keyword_list {
  position: absolute;
  top: 40px;
  left: 1px;
  width: 270px;
  display: none;
  background-color: #FFF;
  border: 1px solid #CCC;
}
.top_nav .header_search .keyword_list a {
  display: block;
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
}
.top_nav .header_search .keyword_list a:hover {
  background-color: #f5f5f5;
}
.top_nav .header_search .keyword_list span {
  float: right;
  color: #999;
}

.banner {
  width: 100%;
  height: 439px;
}

.banner .temp-wrap {
  margin: 0 auto;
  width: 1300px;
  height: 439px;
}

.banner .temp-wrap img {
  width: 1300px;
  height: 439px;
}

.ad {
  width: 100%;
}

.ad .ad-list {
  width: 1190px;
  height: 160px;
  margin: 0 auto;
  background-color: plum;
}

.ad .ad-list a {
  display: inline-block;
  margin-left: 6px;
}

.ad .ad-list a img {
  width: 386px;
  height: 160px;
}

.area_dota2 {
  width: 100%;
  height: 727px;
}

a {
  text-decoration: none;
  color: #666;
}

.f_left {
  float: left;
}

.f_right {
  float: right;
}

.area .wrap {
  margin: 0 auto;
  width: 1190px;
  height: 727px;
}

.area .wrap .title_main {
  width: 1190px;
  height: 40px;
  padding: 37px 0 20px 0;
  font-size: 28px;
  overflow: hidden;
}

.area .wrap .title_main .icon {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin-right: 12px;
  vertical-align: middle;
}

.area .wrap .title_main .icon img {
  width: 35px;
  height: 35px;
}

.area .wrap .title_main div {
  margin-left: 116px;
}

.area .wrap .title_main div a {
  float: left;
  margin-right: 5px;
  padding: 5px 20px 0 20px;
  font-size: 16px;
}

.area .wrap .title_main .on,
.area .wrap .title_main .on:hover {
  border-bottom: 3px solid #de2f3c;
  color: #e90303;
}

.area .wrap .title_main .on {
  display: block;
  padding-bottom: 5px;
  color: #666;
}

.area .wrap .wrap .more {
  float: right;
}

.area .wrap .title_main .more {
  margin-top: 10px;
  font-size: 16px;
  color: #666;
}

.area .wrap .title_main .more span {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 5px;
  background: url(../img/base.png) no-repeat -90px 0;
  vertical-align: -5px;
}

.area .wrap .title_main .more:hover {
  color: #e90303;
}

.area .wrap .title_main .more:hover span {
  background: url(../img/base.png) no-repeat -111px 0;
}

.area .wrap .content_main {
  width: 1190px;
  height: 630px;
}

.area .wrap .content_main .ad {
  width: 226px;
  height: 614px;
  margin: 0 15px 15px 0;
  float: left;
}

a {
  text-decoration: none;
  color: #666;
}

.area .tempWrap {
  overflow: hidden;
  position: relative;
  width: 949px;
}

.area .tempWrap .content {
  width: 949px;
  left: 0px;
  position: relative;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
}

.area .tempWrap .content .main {
  float: left;
  width: 949px;
}

.area .list a img {
  width: 160px;
  height: 160px;
}

.area .area_slide {
  position: relative;
  width: 467px;
  height: 300px;
  margin-right: 15px;
  overflow: hidden;
  float: left;
  border: 1px solid #de2f3c;
}

.in {
  transition: all .2s linear;
}

.area-wm {
  width: 100%;
  height: 727px;
}

.area-wm .wrap {
  margin: 0 auto;
  width: 1190px;
  height: 727px;
  background-color: orangered;
}

.area-csgo {
  width: 100%;
  height: 727px;
}

.area-csgo .wrap {
  margin: 0 auto;
  width: 1190px;
  height: 727px;
  background-color: yellow;
}

.area-jxh {
  width: 100%;
  height: 727px;
}

.area-jxh .wrap {
  margin: 0 auto;
  width: 1190px;
  height: 727px;
  background-color: green;
}

.area-hot {
  width: 100%;
  height: 727px;
}

.area-hot .temp-wrap {
  margin: 0 auto;
  width: 1190px;
  height: 727px;
  background-color: cyan;
}

.about {
  height: 326px;
  padding: 23px 0 40px;
  background-color: #FFF;
  margin-top: 40px;
}
.about a {
  text-decoration: none;
}
.about .wrap {
  width: 1190px;
  margin: 0 auto;
}
.about .wrap ul {
  margin-bottom: 20px;
  height: 45px;
}
.about .wrap ul li {
  float: left;
  width: 297px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  font-size: 18px;
  border-right: 1px solid #e9e9e9;
  color: #999;
}
.about .wrap ul li span {
  display: inline-block;
  width: 45px;
  height: 45px;
  margin-right: 15px;
  background: url(../img/about.png) no-repeat;
  vertical-align: middle;
}
.about .wrap ul .shopping span {
  background-position: -45px 0;
}
.about .wrap ul .fast span {
  background-position: -90px 0;
}
.about .wrap ul .return {
  width: 296px;
  border-right: 0;
}
.about .wrap ul .return span {
  background-position: -135px 0;
}
.about .wrap .link {
  padding-top: 40px;
  border-top: 1px solid #e9e9e9;
}
.about .wrap .link dl {
  float: left;
  width: 298px;
  text-indent: 110px;
}
.about .wrap .link dl dt {
  height: 35px;
  font-size: 14px;
}
.about .wrap .link dl dd {
  position: relative;
  height: 24px;
}
.about .wrap .link dl dd a {
  color: #999;
}
.about .wrap .link dl dd a:hover {
  color: #e90404;
}
.about .wrap .link dl dd .tip {
  display: none;
  position: absolute;
  top: 30px;
  left: 49px;
  padding: 10px 20px;
  line-height: 22px;
  font-size: 14px;
  background-color: #FFF;
  border: 1px solid #f5f5f5;
  color: #666;
  box-shadow: 0 3px 3px #CCC;
  text-indent: 0;
  white-space: nowrap;
}
.about .wrap .link dl dd .tip span {
  color: #ff5353;
}
.about .wrap .link dl dd .tip i {
  position: absolute;
  top: -12px;
  left: 33px;
  width: 22px;
  height: 12px;
  background: url(../img/base.png) no-repeat 0 -300px;
}
.about .wrap .link .contact {
  float: right;
  min-height: 115px;
  width: 227px;
  padding-left: 67px;
  border-left: 1px solid #e9e9e9;
}
.about .wrap .link .contact .tel {
  font-size: 24px;
  font-family: Arial;
}
.about .wrap .link .contact .time {
  padding: 16px 0 24px 0;
  font-size: 14px;
  color: #999;
}
.about .wrap .link .contact .tsjb {
  text-indent: 50px;
  text-indent: 50px;
  font-size: 14px;
  color: #474747;
  padding: 16px 0 0;
  display: block;
}
.about .wrap .link .contact .kf {
  display: block;
  width: 154px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: #ea0f1f;
  font-size: 16px;
  border: 1px solid #ff5353;
  border-radius: 3px;
}
.about .wrap .link .contact .kf span {
  display: inline-block;
  width: 18px;
  height: 15px;
  margin-right: 6px;
  background: url(../img/base.png) no-repeat -188px 0;
  vertical-align: middle;
}
.about .wrap .link .contact .kf:hover {
  background-color: #e32331;
  border-color: #e32331;
  color: #FFF;
}
.about .wrap .link .contact .kf:hover span {
  background-position: -240px 0;
}

.copyright {
  padding: 25px 0 30px 0;
  text-align: center;
}
.copyright .wrap {
  width: 1190px;
  margin: 0 auto;
}
.copyright .wrap a {
  text-decoration: none;
  color: #666;
  margin: 0 3px;
}
.copyright .wrap ul {
  width: 826px;
  margin: 0 auto;
  overflow: hidden;
}
.copyright .wrap ul li {
  float: left;
  width: 70px;
  text-align: center;
  height: 12px;
  line-height: 12px;
  border-right: 1px solid #DDD;
  text-align: center;
  margin-right: -1px;
}
.copyright .wrap .text {
  padding: 24px 0 15px 0;
  color: #999;
}
.copyright .wrap .link a img {
  width: 108px;
  height: 40px;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

html,
body {
  font-size: 12px;
  font-family: "Microsoft YaHei";
}

body {
  background-color: #f5f5f5;
  color: #474747;
  min-width: 1300px;
}

/*# sourceMappingURL=index.css.map */
